<template>
    <Myheader></Myheader>
    <div class="container">
        <router-view></router-view>
    </div>
    <Myfooter></Myfooter>
</template>

<script>
import Myheader from "./components/Myheader";
import Myfooter from "./components/Myfooter";


export default {
    name: "App",
    components: { Myfooter, Myheader}
}
</script>

<style scoped>

</style>
