<template>
    <section class="section">
        <h1 class="title">About</h1>
        <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
        </h2>
    </section>
</template>

<script>
export default {
    name: "About"
}
</script>

<style scoped>

</style>
