<template>
    <div class="modal" :class="openModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Add New Entry</p>
                <button
                    class="delete"
                    aria-label="close"
                    @click="close"
                ></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Name</label>
                    <p class="control">
                        <input
                            class="input"
                            :class="{ 'is-danger': errors.name }"
                            type="text"
                            placeholder="Name"
                            v-model="list.name"
                        />
                    </p>
                    <small v-if="errors.name" class="has-text-danger">{{
                        errors.name[0]
                    }}</small>
                </div>
                <div class="field">
                    <label class="label">Phone</label>
                    <p class="control">
                        <input
                            class="input"
                            :class="{ 'is-danger': errors.phone }"
                            type="text"
                            placeholder="Phone"
                            v-model="list.phone"
                        />
                    </p>
                    <small v-if="errors.phone" class="has-text-danger">{{
                        errors.phone[0]
                    }}</small>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <p class="control">
                        <input
                            class="input"
                            :class="{ 'is-danger': errors.email }"
                            type="email"
                            placeholder="Email"
                            v-model="list.email"
                        />
                    </p>
                    <small v-if="errors.email" class="has-text-danger">{{
                        errors.email[0]
                    }}</small>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" @click="save">Save</button>
                <button class="button" @click="close">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
import { ref } from "vue";
export default {
    name: "Add",
    props: {
        openModal: "",
    },

    setup(props, { emit }) {
        const list = ref({
            name: "",
            phone: "",
            email: "",
        });

        const errors = ref({});

        function close() {
            emit("closeRequest");
        }

        function save() {
            axios
                .post("/phonebook", list.value)
                .then(function (response) {
                    emit("currentList", response.data);
                    close();
                    list.value = "";
                })
                .catch(function (error) {
                    errors.value = error.response.data.errors;
                });
        }

        return { close, save, list, errors };
    },
};
</script>

<style scoped></style>
