<template>
    <div>
        <nav class="panel column is-offset-2 is-8">
            <p class="panel-heading">
                Vuejs Phonebook
                <button
                    class="button is-link is-outlined"
                    @click="openAddModal"
                >
                    Add New
                </button>
                <span class="is-pulled-right" v-if="loading">
                    <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
                </span>
            </p>
            <div class="panel-block">
                <p class="control has-icons-left">
                    <input
                        class="input"
                        placeholder="Search"
                        type="text"
                        v-model="searchQuery"
                    />
                    <span class="icon is-left">
                        <i aria-hidden="true" class="fa fa-search"></i>
                    </span>
                </p>
            </div>

            <a
                v-for="(item, index) in temp"
                :key="index"
                class="panel-block is-active"
            >
                <p class="panel-icon column is-9 has-text-left">
                    <i ria-hidden="true" class="fa fa-book"></i>
                    <span class="ml-2">{{ item.name }}</span>
                </p>

                <span class="panel-icon column is-1">
                    <i
                        class="has-text-danger fa fa-trash"
                        @click="deleteContact(index, item.id)"
                    >
                    </i>
                </span>

                <span class="panel-icon column is-1">
                    <i
                        class="has-text-info fa fa-edit"
                        @click="openUpdateModal(index)"
                    >
                    </i>
                </span>

                <span class="panel-icon column is-1">
                    <i
                        class="has-text-primary fa fa-eye"
                        @click="openShowModal(index)"
                    >
                    </i>
                </span>
            </a>
        </nav>
        <Add
            :open-modal="addActive"
            @closeRequest="close"
            @currentList="addNewContactTolist"
        ></Add>
        <Show
            :open-modal="showActive"
            @closeRequest="close"
            :list="currentList"
        ></Show>
        <Update
            :open-modal="updateActive"
            :list="currentList"
            @closeRequest="close"
        ></Update>
    </div>
</template>

<script>
import Add from "./Add";
import Show from "./Show";
import Update from "./Update";

import { onMounted, ref, watch } from "vue";

export default {
    name: "Home",
    components: {
        Add,
        Show,
        Update,
    },
    setup() {
        const addActive = ref("");
        const showActive = ref("");
        const updateActive = ref("");

        const searchQuery = ref("");

        const loading = ref(false);

        const list = ref({});

        const temp = ref({});

        const errors = ref({});

        const currentList = ref({});

        onMounted(() => {
            axios
                .post("/getData")
                .then(function (response) {
                    list.value = temp.value = response.data;
                })
                .catch(function (error) {
                    errors.value = error.response.data.errors;
                });
        });

        watch(searchQuery, () => {
            if (searchQuery.value.length > 0) {
                temp.value = list.value.filter((item) => {
                    console.log(Object.keys(item));
                });
            } else {
                temp.value = list.value;
            }
        });

        function openAddModal() {
            addActive.value = "is-active";
        }

        function openShowModal(index) {
            currentList.value = list.value[index];
            showActive.value = "is-active";
        }

        function openUpdateModal(index) {
            currentList.value = list.value[index];
            updateActive.value = "is-active";
        }

        function close() {
            addActive.value = showActive.value = updateActive.value = "";
        }

        function deleteContact(index, id) {
            let safeDelete = confirm(
                `Aru you sure delete contact ${list.value[index].name}`
            );

            if (safeDelete) {
                loading.value = !loading.value;
                axios
                    .delete(`/phonebook/${id}`)
                    .then(function (response) {
                        list.value.splice(index, 1);
                        loading.value = !loading.value;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }

        function addNewContactTolist(newContact) {
            console.log("new contact:", newContact);
            list.value.push(newContact);
            list.value.sort(function (a, b) {
                if (a.name < b.name) {
                    return -1;
                } else {
                    return 1;
                }
            });
        }

        return {
            openAddModal,
            openShowModal,
            openUpdateModal,
            deleteContact,
            addNewContactTolist,
            close,
            showActive,
            addActive,
            updateActive,
            currentList,
            list,
            temp,
            searchQuery,
            errors,
            loading,
        };
    },
};
</script>

<style scoped></style>
