<template>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Vuejs Phonebook App</strong> by <a href="https://ihkala.com">Nezam Alinazari</a>. Access the source code
                <a href="https://gitlab.com/nz62an/phonebook-with-laravel-vuejs-vue-router-bulma">Github.com</a>.
            </p>
        </div>
    </footer>
</template>

<script>
export default {
    name: "Myfooter"
}
</script>

<style scoped>

</style>
