<template>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="" alt="Bulma" width="112" height="28" />
            </a>

            <div class="navbar-menu is-active">
                <router-link class="navbar-item" to="/phonebook/home"
                    >Home</router-link
                >
                <router-link class="navbar-item" to="/phonebook/about"
                    >About</router-link
                >
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    name: "Myheader",
};
</script>

<style scoped></style>
