<template>
    <div class="modal" :class="openModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{{ list.name }}'s Details</p>
                <button
                    class="delete"
                    aria-label="close"
                    @click="close"
                ></button>
            </header>
            <section class="modal-card-body">
                <table class="tab">
                    <thead>
                        <tr>
                            <th class="pr-3">Name</th>
                            <th class="pr-3">Phone</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pr-3">{{ list.name }}</td>
                            <td class="pr-3">{{ list.phone }}</td>
                            <td>{{ list.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <footer class="modal-card-foot">
                <button class="button" @click="close">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
import { ref } from "vue";
export default {
    name: "Show",
    props: {
        openModal: "",
        list: {
            name: "",
            phone: "",
            email: "",
        },
    },

    setup(props, { emit }) {
        const errors = ref({});

        function close() {
            emit("closeRequest");
        }

        return { close, errors };
    },
};
</script>

<style scoped></style>
