<template>
    <div class="modal" :class="openModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Update {{ list.name }}'s Details</p>
                <button
                    class="delete"
                    aria-label="close"
                    @click="close"
                ></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Name</label>
                    <p class="control">
                        <input
                            class="input"
                            :class="{ 'is-danger': errors.name }"
                            type="text"
                            placeholder="Name"
                            v-model="list.name"
                        />
                    </p>
                    <small v-if="errors.name" class="has-text-danger">{{
                        errors.name[0]
                    }}</small>
                </div>
                <div class="field">
                    <label class="label">Phone</label>
                    <p class="control">
                        <input
                            class="input"
                            :class="{ 'is-danger': errors.phone }"
                            type="text"
                            placeholder="Phone"
                            v-model="list.phone"
                        />
                    </p>
                    <small v-if="errors.phone" class="has-text-danger">{{
                        errors.phone[0]
                    }}</small>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <p class="control">
                        <input
                            class="input"
                            :class="{ 'is-danger': errors.email }"
                            type="email"
                            placeholder="Email"
                            v-model="list.email"
                        />
                    </p>
                    <small v-if="errors.email" class="has-text-danger">{{
                        errors.email[0]
                    }}</small>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" @click="update">
                    Update
                </button>
                <button class="button" @click="close">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
import { ref } from "vue";
export default {
    name: "Update",
    props: {
        openModal: "",
        list: {},
    },

    setup(props, { emit }) {
        const errors = ref({});

        function close() {
            emit("closeRequest");
        }

        function update() {
            axios
                .patch(`/phonebook/${props.list.id}`, props.list, {
                    responseType: "json",
                })
                .then(function (response) {
                    // console.log("list after patch :", props.list);
                    // console.log("response: ", response);

                    close();
                    // props.list = {};
                    // errors.value = {};
                })
                .catch(function (error) {
                    console.log(error.response.data.errors);
                    errors.value = error.response.data.errors;
                });
        }

        return { close, update, errors };
    },
};
</script>

<style scoped></style>
